# Exclude compiler products
*.m4
*.o
*.a
*.la
*.so*
*.pyc
*.gcno
*.gcda
*.lst
*.d
*.mk

# Makefile and Autocond
/autom4te.cache
Makefile
/config.status
config.log
/config.h
/aclocal.m4
/config/
/install-sh
/depcomp
/ltmain.sh


*~
GIT_REVISION
SVN_REVISION
libtool
.deps
.libs

# Coverage files
.gcno
.gcda
coverage_report

# Project/IDE Environment files
# we need these two project files for eclipse
#.project
#.cproject
.pydevproject
.kdev4
.autotools
/cmake-build*
Debug*
Release*
