# exclude
*.m4
*.o
*.a
*.la
*.so*
*.pyc
*.gcno
*.gcda
*.lst
/autom4te.cache
Makefile
/config.status
config.log
/config.h
/aclocal.m4
/config/
/install-sh
/depcomp
/ltmain.sh
*~
GIT_REVISION
SVN_REVISION
libtool
.deps
.libs
.gcno
.gcda
coverage_report
# we need the project files for eclipse
#.project
#.cproject
.pydevproject
.kdev4
/.settings
.autotools
/cmake-build*
*mk
Debug*
Release*
